# Copia este archivo como .env y rellena tus valores
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/empleoProDB?retryWrites=true&w=majority
MONGODB_DB=empleoProDB
PORT=4000
SESSION_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio
